<header class="header">

    <!-- Top Bar -->
    <div class="top_bar">
        <div class="top_bar_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                            <ul class="top_bar_contact_list">
                                <li>
                                    <div class="question">Have any questions?</div>
                                </li>
                                <li>
                                    <a href="number:07010856952">07010856952</a>
                                </li>
                                <li>
                                    <a href="mailto:info@lasucai.com">info@lasucai.com</a>
                                </li>
                            </ul>
                            <div class="top_bar_login ml-auto">

                                <ul>
                                    <% if (authenticated) { %>
                                        <a href="/logout" style="color:#918EA0">
                                            <i class="zmdi zmdi-power"></i> Logout</a>
                                        
                           
                                    <%}else{ %>
                                        <li><a href="/register">Register</a></li>
                                        <li><a href="/login">Login</a></li>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Content -->
    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo_container">
                            <a href="/">
                                <div class="logo_content d-flex flex-row align-items-end justify-content-start">
                                    <div class="logo_img"><img src="images/molecule.png" width="50px" alt="">
                                    </div>
                                    <div class="logo_text">C<b>A</b>I</div>
                                </div>
                            </a>
                        </div>
                        <nav class="main_nav_contaner ml-auto">
                            <ul class="main_nav">

                                <li class=" <%= (pagename == 'home') ? 'active' : '' %>"> <a href="/">home</a></li>
                                    <li class=" <%= (pagename == 'about' ) ? 'active' : '' %>"><a href="/about">about
                                            us</a>
                                    </li>
                                    <li class=" <%= (pagename == 'courses') ? 'active' : '' %>"><a
                                            href="/courses">courses</a></li>

                                    <li class=" <%= (pagename == 'contact') ? 'active' : '' %>"><a
                                            href="/contact">contact</a></li>
                                </ul>
                                <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>

                                <!-- Hamburger -->

                                <div class="hamburger menu_mm">
                                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                </div>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Search Panel -->
            <div class="header_search_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
                                <form action="#" class="header_search_form">
                                    <input type="search" class="search_input" placeholder="Search" required="required">
                                    <button
                                        class="header_search_button d-flex flex-column align-items-center justify-content-center">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</header>

<!-- Menu -->

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
        <div class="menu_close">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="search">
        <form action="#" class="header_search_form menu_mm">
            <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
            <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                <i class="fa fa-search menu_mm" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm"><a href="/">Home</a></li>
            <li class="menu_mm"><a href="/courses">Courses</a></li>
            <li class="menu_mm"><a href="/instructors">Instructors</a></li>
            <li class="menu_mm"><a href="/blog">Blog</a></li>
            <li class="menu_mm"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="menu_extra">
        <div class="menu_phone"><span class="menu_title">phone:</span>07024567467</div>
        <div class="menu_social">
            <span class="menu_title">follow us</span>
            <ul>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<%- include('../partials/cmsScript.ejs') %>
