<!DOCTYPE html>
<html class=" w-mod-js" data-wf-status="1" data-wf-site="5ca1762ab7e3ed999e21008c" data-wf-page="5ca1762ab7e3edabd021008d" data-wf-domain="courses-page.webflow.io">

<head>
    <title>Classroom</title>
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles/contact.css">
    <link rel="stylesheet" type="text/css" href="/styles/contact_responsive.css">
    <link rel="favicon" href="/images/molecule.png">
    <link rel="shortcut icon" href="/images/molecule.png" type="image/png">

</head>

<body class="body">
    <%- include('partials/header.ejs') %>

        <div class="toggle-bar w-container">

            <ul class="nav nav-tabs my-nav " id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Lessons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Profile</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="div-block-29">
                        <div class="div-block-30">
                            <div class="text-block-16">1</div>
                        </div>
                        <div class="text-block-15">
                            <%- result.topic_title%>
                        </div>
                    </div>
                    <div class="div-block-31" style="background-image: url('<%- result.image %>')"></div>
                    <div class="div-block-32">
                        <h3>Robotics</h3>
                        <%- result.content %>
                    </div>
                    <div class="div-block-28">
                        <div class="text-block-14">Lesson completed</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    Check Back Later
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    Not Ready
                </div>
            </div>

        </div>


        <%- include('partials/footer.ejs') %>
            <!-- <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.js"></script>

    <script src="styles/bootstrap4/bootstrap.min.js"></script> -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
            </script>
</body>

</html>