<!DOCTYPE html>
<html class=" w-mod-js" data-wf-status="1" data-wf-site="5ca1762ab7e3ed999e21008c" data-wf-page="5ca1762ab7e3edabd021008d" data-wf-domain="courses-page.webflow.io">

<head>
    <title>Classroom</title>
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles/contact.css">
    <link rel="stylesheet" type="text/css" href="/styles/contact_responsive.css">
    <link rel="favicon" href="/images/molecule.png">
    <link rel="shortcut icon" href="/images/molecule.png" type="image/png">

</head>

<body class="body">
    <%- include('partials/header.ejs') %>

        <div class="toggle-bar w-container">

            <ul class="nav nav-tabs my-nav " id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Lessons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Profile</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="div-block-29">
                        <div class="div-block-30">
                            <div class="text-block-16">1</div>
                        </div>
                        <div class="text-block-15">
                            <%- result.topic_title%>
                        </div>
                    </div>
                    <div class="div-block-31" style="background-image:url(/<%= result.image %>)"></div>
                    <div class="div-block-32">
                        <h3>Robotics</h3>
                        <%- result.content %>
                    </div>
                    <div class="div-block-28">
                        <div class="text-block-14">Lesson completed</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <!-- quiz section -->

                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8" style="background:white; margin-top: 80px;height: 400px">
                            <h1 class="score"></h1>
                            <!-- <div class="header">
                                <center>
                                    <h1 class="btn btn-primary questionNumber" style="padding-top:5px; width:400px; height: 60px; background:#82A608; font-size:2em; color:white; border-color:white">
                                    </h1>
                                </center>
                                
                            </div> -->
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <h2 class="question" style=" padding:10px; background: #EDEDED; height:100px"></h2>
                                </div>
                                <div class="col-lg-1"></div>

                            </div>


                            <form name="form1">
                                <div class="answers" style="margin-left: 80px">
                                    <input type="radio" name="radioChoice"> <label></label><br>
                                    <input type="radio" name="radioChoice"> <label></label><br>
                                    <input type="radio" name="radioChoice"> <label></label><br>
                                    <input type="radio" name="radioChoice"> <label></label><br><br>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="button"><button type="button" class="btn btn-primary" style="padding-top:5px; width:100px; height: 40px; background:#82A608; font-size:1em; color:white; border-color:white" onclick="back()">Back</button></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="button">
                                                <center><button class="btn btn-primary" style="padding-top:5px; width:100px; height: 40px; background:#82A608; font-size:1em; color:white; border-color:white" type="button" onclick="next()">Next</button></center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end of quiz section -->
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    Not Ready
                </div>
            </div>

        </div>


        <%- include('partials/footer.ejs') %>
            <!-- <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.js"></script>

    <script src="styles/bootstrap4/bootstrap.min.js"></script> -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
            </script>

            <!-- script for the quiz -->

            <script>
                document.onkeydown = function(e) {
                    if (event.keyCode == 123) {
                        return false;
                    }
                    if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                        return false;
                    }
                    if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                        return false;
                    }
                    if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                        return false;
                    }
                }

                function ready(fn) {
                    if (document.readyState != 'loading') {
                        fn();
                    } else {
                        document.addEventListener('DOMContentLoaded', fn);
                    }
                }

                ready(choices);

                var content = <%-JSON.stringify(quiz)%>;


                var x = 0;
                var y = 1;
                var score = 0;

                function choices() {
                    if (content[x] === undefined) {
                        document.querySelector('.score').textContent = 'You got ' + score + " questions correctly";
                        document.querySelector('.score').innerHTML +=
                            "<hr> <button class='btn btn-primary' style=' background:#82A608; border-color: white'  onClick='window.location.reload()'> Retake Test </button>"
                        document.form1.style.visibility = 'hidden';
                        document.querySelector('.header').style.visibility = 'hidden';
                        document.querySelector('.question').style.visibility = 'hidden';


                    } else {
                        var questionNumber = document.querySelector('.questionNumber');
                        questionNumber.textContent = 'Question#' + y;

                        var question = document.querySelector('.question');
                        question.textContent = content[x]['question'];

                        var choices = document.querySelectorAll('label');
                        for (var i = 0; i < choices.length; i++) {
                            choices[i].textContent = content[x]['choices'][i];
                        }
                    }
                }

                function next() {
                    var inputs = document.querySelectorAll('input');

                    if (content[x] === undefined) {
                        return false;
                    } else if (inputs[0].checked !== true && inputs[1].checked !== true && inputs[2].checked !== true && inputs[3]
                        .checked !== true) {
                        alert('Please select an answer');

                    } else {
                        for (var i = 0; i < inputs.length; i++) {
                            if (inputs[i].checked === true && i === content[x]['correct']) {
                                score++;
                            }
                            inputs[i].checked = false;
                        }

                        x++;
                        y++;
                        choices();
                    }
                }

                function back() {
                    var inputs = document.querySelectorAll('input');

                    if (x === 0) {
                        return false;

                    } else {
                        x--;
                        y--;
                        score--;
                        choices();
                    }
                }
                const bcrypt = require("bcrypt-nodejs")

                var hash = bcrypt.hashSync("love");
                console.log(hash)
            </script>
            <!-- end of quiz for the quiz -->

</body>

</html>