<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title> -->
    <%- include('../partials/cmsHead.ejs') %>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <%- include('../partials/sideNav.ejs') %>

            <%- include('../partials/cmsHeader.ejs') %>

                <!-- MAIN CONTENT -->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                                    <div class="col-lg-12 col-nd-12 col-sm-12 col-xs-12 px-0">
                                        <a href="/add_topic" class="btn btn-primary">Create New topic <span class="fa fa-plus-circle"></span></a>
                                    </div>

                                    <div class="container">
                                        <div class="row">
                                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                                                <h1 class="h2 rw"><span class="text-info">list of topics</span></h1>
                                            </div>
                                        </div>

                                        <div class="col card-deck mt-3 pl-2">
                                            <% for (var i = doc.length - 1; i >= 0; --i) { %>                                                
                                                <div class="col-lg-4 col-md-6">
                                                        <div class="course">
                                                            <div class="course_image"><img src="<%= doc[i].image %>" alt="<%= doc[i].name %."></div>
                                                            <div class="course_body">
                                                                <div class="course_header d-flex flex-row align-items-center justify-content-start">
                                                                    <div class="course_tag"><a href="#"><%= doc[i].topic_category %></a></div>
                                                                    <div class="course_price ml-auto">Duration <span>
                                                                        <%= doc[i].topic_duration %>
                                                                    </span></div>
                                                                </div>
                                                                <div class="course_title">
                                                                    <h3><a href="courses.html"></a>
                                                                        <%= doc[i].topic_title %>
                                                                    </a></h3>
                                                                </div>
                                                                <div class="course_text">
                                                                    <%= doc[i].topic_summary %>
                                                                </div>
                                                                <div class="course_footer d-flex align-items-center justify-content-start">
                                                                    <!-- <div class="course_author_image"><img src="images/featured_author.jpg"
                                                                            alt="https://unsplash.com/@anthonytran"></div> -->
                                                                    <div class="course_author_name">By <a href="#"><%= doc[i].author_name %></a></div>
                                                                    <div class="course_sales ml-auto"><%= doc[i].course_type %></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                <% }%>

                                        </div>
                                    </div>

                                </main>
                            </div>
                        </div>
                    </div>
                    <!-- END OF MAIN CONTENT -->


                </div>
    </div>
    <!-- SCRIPT -->
    <%- include('../partials/cmsScript.ejs') %>
        <!-- END OF SCRIPT -->

</body>

</html>