<!DOCTYPE html>
<html lang="en">

<head>
    <title>Courses</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Elearn project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/courses.css">
    <link rel="stylesheet" type="text/css" href="styles/courses_responsive.css">
    <link rel="shortcut icon" href="images/molecule.png" type="image/png">
    <%- include('../partials/cmsHead.ejs') %>

</head>

<body>
        <%- include('../partials/sideNav.ejs') %>

        <%- include('../partials/cmsHeader.ejs') %>

    <div class="super_container">
           
        <div>
            <div class="container" style="margin-left:300px;margin-top: 120px;">
                    <div style="
                    margin-bottom: 50px;">
                            <a href="/add_topic" class="btn btn-primary">Create New topic <span class="fa fa-plus-circle"></span></a>
                        </div>
                    <span>All Courses</span>
                    <hr>
                <!-- All Courses -->
                <div class="row col-lg-8">

                    <!-- Course -->
                    <% for (var i = doc.length - 1; i >= 0; --i) { %>
                    <div class="col-lg-6 col-md-8">
                        <div class="course">
                            <div class="course_image"><img src="<%= doc[i].image %>" alt="<%= doc[i].name %>" height="299px" width="s385px"> </div>
                            <div class="course_body">
                                <div class="course_header d-flex flex-row align-items-center justify-content-start">
                                    <div class="course_tag"><a href="#"><%= doc[i].category %></a></div>
                                    <div class="course_price ml-auto"><span>
                                            <%= doc[i].duration %>
                                        </span></div>
                                </div>
                                <div class="course_title">
                                    <h3><a href="courses.html"></a>
                                        <%= doc[i].topic_title %>
                                        </a></h3>
                                </div>
                                <div class="course_text">
                                    <p>
                                    <%= doc[i].summary %>
                                    </p>
                                </div>
                                <div class="course_footer d-flex align-items-center justify-content-start">
                                    <!-- <div class="course_author_image"><img src="images/featured_author.jpg"
                                                        alt="https://unsplash.com/@anthonytran"></div> -->
                                    <div class="course_author_name bold">By <a href="#"><%= doc[i].author %></a></div>
                                    <div class="course_sales ml-auto"><%= doc[i].type %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }%>


                </div>
            </div>


        </div>
    </div>

    </div>
</body>

</html>